
//font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

//font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

//font-family: 'Lexend Exa', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
//font-family: 'Righteous', cursive;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

//variables

$font-color: #fff;
$secondary-color: #089c55;
$primary-color: #022334;

//@mixins

@mixin button-style {
    margin-left: 1rem;
    width:10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: $secondary-color;
    border: none;
    outline: none;
    color: $font-color;
    font-family: 'Righteous', cursive;
    opacity: 0;
    visibility: hidden;
    animation: introAnimation 1s 1s forwards;
    transition: all 1s ease;
    &:hover {
        background-color:$primary-color;
        border: $font-color solid 2px;
    }
  }

/*common styles*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;

    font-family: 'Rubik', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: Arial, Helvetica, sans-serif;
}
/*-------------------------------*HEADER*-------------------*/
html{
    scroll-behavior: smooth;
}
.main_body {
    overflow-x: hidden;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
}

.navbar{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    height: 3rem;
    width: 100%;
    z-index: 10;
    h2{
        color: $font-color;
        font-family: 'Lexend Exa', sans-serif;
        margin-left: 2rem;
        span {
            color: $secondary-color;
            font-family: 'Righteous', cursive;
        }
    }
} 


.banner_section{
    overflow: hidden;
    display: flex;
    position:relative;
    width: 100%;
    height: 100vh;
    .banner{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.banner_heading{
    margin-top: 500px;
    margin-bottom: 10rem;
    perspective: 60rem;
    span {
        margin-top: -10%;
        position: absolute;
        font-family:'Righteous', cursive;
        font-weight: 500;
        font-size: 5rem;
        color:$font-color;
        text-shadow: .3rem .3rem .6rem rgba(0,0,0, 0.5);
        width: 100%;
        display: flex;
        justify-content: center;
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
    }
    
}
        //animation of each heading

        .heading_1{
            animation: animateHeading 10s 2s infinite;
        }
        .heading_2{
            animation: animateHeading 10s 4s infinite;
        }
        .heading_3{
            animation: animateHeading 10s 6s infinite;
        }
        .heading_4{
            animation: animateHeading 10s 8s infinite;
        }
        .heading_5{
        animation: animateHeading 10s 10s infinite;
        }


        @keyframes animateHeading {
            0%{
                transform: translateZ(8rem);
                opacity: 0;
                letter-spacing: 2rem;
            }
            2%{
                transform:translateZ(0rem);
                opacity: 1;
                letter-spacing: .5rem;
            }
            15%{
                transform: translateZ(0rem);
                opacity: 1;
                letter-spacing: .5rem;
            }
            40%{
                transform: translateZ(8rem);
                opacity: 0;
                letter-spacing: 2rem;
            }
            50%{
                transform: translateZ(8rem);
                opacity: 0;
                letter-spacing: 2rem;
                color: $primary-color;
            }
        }

        .banner_phrase{
            position: relative;
           top: 80px;
            color: $font-color;
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            width: 50%;
            margin: 0 auto;
            visibility: hidden;
            animation: introAnimation 2s 1.5s forwards;
        }
    
 

 .banner_btn{
  @include button-style;
  position: relative;
  margin-top: 150px;
  a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $font-color;
      text-decoration: none;
  }
 }


 @keyframes introAnimation{
     0%{
         opacity: 0;
         visibility: hidden;
     }
     100%{
         opacity: 1;
         visibility: visible;
     }
 }

 // to use opacity in the img background and doesn't affect childs
 .banner_section::before{
    content: "";
    object-fit: cover;
    position: absolute;
    top: 0;
   left: 0;
   right: 0;
   bottom: 0;
    background-image: url(assets/banner.jpg);
    opacity: .2;
}

/*Projects Section*/

    .projects_container{
        overflow-x: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        .project1, .project2, .project3, .project4, .project5, .project6{
            background-color: $primary-color;
            width: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            height: 450px;
            grid-template-columns: 1fr 1fr;
            h3{
                margin-bottom: 30px;
            }
            .btn{
                margin: 20px;
                a{  
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                }
            }
        }
    }


.project_imgs1, .project_imgs2, .project_imgs3, .project_imgs3,
.project_imgs4, .project_imgs5, .project_imgs6{
    display:flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.project_content{
    font-size: 1.3rem;
    padding-left: 20%;
    padding-right: 20%;
    color: $font-color;
}



.btn {
    @include button-style();
}

.card{
    width: 100%;
    height: 100%;
}

.phone_img{
    position: absolute;
    height: 50%; 
    width:116px;
    top: 120px;
    left: calc(190px);
}

.phone_screen{
    position: absolute;
    opacity: 0;
    z-index: 30;
    width: 88px;
    height: 155px;
    top: 150px;
    left: calc(204px);   
}

.screenOn{
    opacity: 1;
    transition: opacity 5s ease-in;
}

.desktop_img{
    object-fit: cover;
    position: absolute;
    margin-left: 25%;
    width: 500px;
    height: 60%;
    transform: translateY(30%);
}

#live_preview-btn{
    position: absolute;
    left: calc(250px);
    top: 75%;
}




/* --------------------------- CONTACT SECTION----------------------*/
.form_section{
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 500px;
        display: flex;
        color: $font-color;
        .form_content{
        padding-top: 60px;
        position: absolute;
        top: 0;
        z-index: 20;
        height: 500px;
        width: 600px;
       display: flex;
       align-items: center;
        flex-direction: column;
        .textcontent{
            outline: none;
            border: none;
            width: 50%;
            height: 30%;
            border-radius: 20px;
            padding-left: 20px;
        }
        .input{
            width: 40%;
            border-radius: 20px;
            height: 30px;
            outline: none;
            border: none;
            margin: 20px;
            padding-left: 20px; 
        }
        .send_btn{
            @include button-style();
            margin: 20px;
        }
        }
        .video_container{
            z-index: 5;
            position: absolute;
            top:0;
            left:0;
            object-fit: cover;
            opacity: .05;
            .bg_video{
                position: relative;
                left: -300px;
                top: -800px;
                }
            }
        }
    
  .form_container{
      justify-content: center;
      padding-top: 30px;
      z-index: 10;
     width: 100%;
     display: flex;
  }

.projects_container button a{
    text-decoration: none;
    color: $font-color;
    width: 100%;
}

/*---------------------------MEDIA QUERIES------*/



@media (max-width: 1500px){
    .desktop_img{
        left: calc(-20%);
    }

    .phone_img{
        left: calc(75px);
    }
    
    .phone_screen{
        left: calc(90px);
    }

    #live_preview-btn{
        left: calc(100px);
    }
}



@media (max-width: 1100px){


    .project_content{
        font-size: 1rem;
     }



    .desktop_img{
        left: calc(-35%);
    }
    .phone_img{
        left: calc(-15px);
    }
    
    .phone_screen{
        left: calc(-1px);
    }
}





@media(max-width: 900px){
    .desktop_img{
        top: 5%;
        width: 400px;
        height: 200px;
    }

    .banner_heading{
        margin-top: 150px;
    }

    .banner_phrase{
        top: 60px;
        font-size: 1rem;
    }

    .banner_btn{
        display: block;
        left: calc(50% - 100px);
        margin-top: 20px;
        top: 80px;
    }
}


@media (max-width:780px ){
    .desktop_img{
        top: 10%;
        width: 300px;
        height: 150px;
    }
    .banner_heading span{
        font-size: 2.5rem;
    }

    #live_preview-btn{
        left: calc(-15px);
    }

    .banner_btn{
        display: block;
        left: calc(50% - 100px);
        margin-top: 20px;
        top: 150px;
    }
}


@media (max-width: 600px){

    .project_content{
        font-size: .8rem;
     }

    .banner_heading span{
        font-size: 2rem;
    }

    .desktop_img{
        display: none;
    }
    .project1, .project2, .project3, .project4, .project5, .project6{
        height: 500px;
    }

    .project_content{
        padding-left: 10%;
        padding-right: 10%;
    }

    .phone_img{
        top: 80px;
        left: calc(50px);
    }
    
    .phone_screen{
        top: 110px;
        left: calc(64px);
    }
}

@media (max-width: 375px){
    .phone_img{
      
        left: calc(-30px);
    }
    
    .phone_screen{

        left: calc(-16px);
    }
    #live_preview-btn{
        left: calc(-120px);
    }
}

@media (max-width: 280px){
    .phone_img{
        left: calc(-80px);
    }
    
    .phone_screen{

        left: calc(-66px);
    }
    #live_preview-btn{
        left: calc(-150px);
    }

    .btn{
        position: relative;
        top: 20px;
    }

    .project_content{
        width: 80%;
        p{
            font-size: 0.7rem;
        }
    }
}